body {
    margin: 2.5% 0 0 0;
    padding: 0;
    font-family: sans-serif;
}

nav.navbar.navbar-toggleable-md.navbar-inverse.bg-inverse.fixed-top {
    height: 30px !important;
}

.nav-content {
    margin-top: 30px;
}

.error-template {
    padding: 40px 15px;
    text-align: center;
}

.error-actions {
    margin-top: 15px;
    margin-bottom: 15px;
}

.error-actions .btn {
    margin-right: 10px;
}

.p-t-b-1rem {
    padding-top: 1rem;
    padding-bottom: 1rem;
}